// Facilities

.facilities{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.facilities-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;

	img{
		width: 100%;
		border-radius: 10px;
	}

	h3{
		margin-top: 16px;
		margin-bottom: 15px;
		text-align: left;
	}

	p{
		padding: 0;
	}

}