extends pug/template.pug 
block index
	include pug/header.pug
	include pug/section1.pug	
	include pug/section2.pug
	include pug/section3.pug
	include pug/section4.pug
	include pug/section5.pug
	include pug/footer.pug 