//- Footer

section.footer 
	h4 About Us
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Porro officiis et veritatis, sed incidunt quisquam.
	div.icons
		i(class="fab fa-facebook")
		i(class="fab fa-twitter")
		i(class="fab fa-instagram")
		i(class="fab fa-linkedin")
	p Made by Leo Henao with   
		i(class="far fa-heart")
		