//- Testimonials

section.testimonials
	h1 Ehat Our Stdents Says
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, velit?

	div.row
		div.testimonial-col
			img(src="https://i.postimg.cc/8PbzzDYg/Mariana.jpg", alt="Mariana_img")
			div
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam placeat esse, ut aperiam velit error. Autem doloremque excepturi quos
				h3 Mariana García  
				i(class="fas fa-star")
				i(class="fas fa-star")
				i(class="fas fa-star")
				i(class="fas fa-star")
				i(class="fas fa-star")
		div.testimonial-col
			img(src="https://i.postimg.cc/Hkfj83TQ/Leo.jpg", alt="Leo_img")
			div
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam placeat esse, ut aperiam velit error. Autem doloremque excepturi quos
				h3 Leonardo Henao 
				i(class="fas fa-star")
				i(class="fas fa-star")
				i(class="fas fa-star")
				i(class="fas fa-star")
				i(class="fas fa-star-half-alt")