//- Campus

section.campus
	h1 Our Global Campus
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, nihil?
	div.row
		div.campus-col
			img(src="https://i.postimg.cc/VvfDqjbj/london.png", alt="london_img")
			div.layer 
				h3 LONDON
		div.campus-col
			img(src="https://i.postimg.cc/jdjMC4TT/newyork.png", alt="new_york")
			div.layer 
				h3 NEW YORK
		div.campus-col
			img(src="https://i.postimg.cc/Hn63BVQF/washington.png", alt="washington_img")
			div.layer 
				h3 WASHINGTON

