//- Facilities

section.facilities
	h1 Our Facilities 
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quod!
	div.row
		div.facilities-col
			img(src="https://i.postimg.cc/m2hSTZ32/library.png", alt="library_img")
			h3 World Class Library 
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, dolor.
		div.facilities-col
			img(src="https://i.postimg.cc/wjmcsWbC/basketball.png", alt="basquetball_img")
			h3 Largest Play Ground 
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, dolor.
		div.facilities-col
			img(src="https://i.postimg.cc/mrW33Qvt/cafeteria.png", alt="cafeteria_img")
			h3 Tasty and Healthy Food 
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, dolor.