//- Course section

section.course 
	h1 Courses We Offer
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident minus dolor tempore ea expedita enim!
	.row 
		.course-col 
			h3 Intermediate 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, ex consectetur. Beatae dolores excepturi eum.
		.course-col 
			h3 Degree 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, ex consectetur. Beatae dolores excepturi eum.
		.course-col 
			h3 Post Graduation 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, ex consectetur. Beatae dolores excepturi eum.
