include config.pug
doctype html 
html
	include head.pug 
	body
		include header.pug 
		block index 
		include section1.pug
		include section2.pug
		include section3.pug
		include section4.pug
		include section5.pug
		include footer.pug 
		